<a href="https://colab.research.google.com/github/xkrizthx/Python/blob/python/tareaDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import pandas as pd
from math import *
import numpy as np
df0=pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesteroles.csv', sep=';', decimal=',')
df0

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [144]:
df1=df0.fillna(50)
df1['IMC']=df1['peso']/df1['altura']*df1['altura']
df1.IMC = pd.to_numeric(df1.IMC, downcast='integer')
df1

                             nombre  edad sexo   peso  altura  colesterol  IMC
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0   85
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0   65
2             Javier García Sánchez    24    H   50.0    1.81       191.0   50
3               Carmen López Pinzón    35    M   65.0    1.70       200.0   65
4              Marisa López Collado    46    M   51.0    1.58       148.0   51
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0   66
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0   62
7             Pilar Martín González    22    M   60.0    1.66        50.0   60
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0   90
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0   75
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0   55
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0   78
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0  109
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0   61

Al dataframe colesterol van agregar un campo que se denomine IMC = peso/(altura*altura), campo Estado

IMC<=20 --> "Delgado" IMC>20 y IMC <=25 --> "Normal" IMC>25 --> "Sobrepeso"

In [145]:
 df2=df1
condiciones=[ (df2['IMC']<=20),(df2['IMC'] >20) & (df3['IMC'] <=25),(df2['IMC'] >25)]
opciones=['Delgado','Normal','Sobre Peso']
df2['Campo Estado']=np.select(condiciones,opciones)
df2.sort_values('IMC')

,nombre,edad,sexo,peso,altura,colesterol,IMC,Campo Estado
2,Javier García Sánchez,24,H,50.0,1.81,191.0,50,Sobre Peso
4,Marisa López Collado,46,M,51.0,1.58,148.0,51,Sobre Peso
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,55,Sobre Peso
7,Pilar Martín González,22,M,60.0,1.66,50.0,60,Sobre Peso
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,61,Sobre Peso
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,62,Sobre Peso
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,65,Sobre Peso
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,65,Sobre Peso
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,66,Sobre Peso
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,75,Sobre Peso
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,78,Sobre Peso
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,85,Sobre Peso
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,90,Sobre Peso
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,109,Sobre Peso

In [146]:
df2.to_excel('tareadataframe.xlsx')
print('Exporatdo con exito en Excel')

Exporatdo con exito en Excel